.foot {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    border-top: 1px solid var(--main-dark-color);
    font-size: large;
}

#backArrow {
    padding-left: 1em;
    color: var(--main-dark-color);
}

#backArrow:hover,
#backArrow:focus,
#backArrow:active {
    color: var(--main-accent-color);
}

.box, 
.plainBox {
    border: 2px solid var(--main-dark-color);
    /* box-shadow: 3px 3px var(--shadow-color); */
    height: 2em;
    /* padding: 1em; */
    /* margin: 0.5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-dark-color);
    /* color: #ff8e90; */
}

.plainBox {
    /* border: 2px solid #52504e; */
    /* box-shadow: -2px 2px var(--shadow-color); */
    border-radius: 3px;
    margin-right: 0.5em;
    /* margin-bottom: 0.5em; */
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: small;
}

.box {
    border: 2px solid var(--main-dark-color);
    box-shadow: 3px 3px var(--shadow-color);
    margin: 0.5em;
    padding: 1em;
}

.imageContainer {
    border: 2px solid var(--main-dark-color);
    box-shadow: -10px 10px var(--shadow-color);
    width: 400px;
    height: 400px;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer:hover,
.imageContainer:focus,
.imageContainer:active {
    box-shadow: -10px 10px var(--main-accent-color);
}

.imageContainer:hover .seeMore,
.imageContainer:focus .seeMore,
.imageContainer:active .seeMore {
    color: var(--main-accent-color);
}

.seeMore {
    text-align: center;
    max-width: 370px;
}

@media screen and (max-width: 440px) {
    .imageContainer img {
        display: none;
    }

    .imageContainer {
        max-width: 80vw;
        height: auto;
        padding-bottom: 1em;
    }
}