html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-light-color: #FFFCF2;
  --main-dark-color: #252422;
  --main-accent-color: #FF686B;
  --shadow-color: #403D39;
  /* other colors: #CCC5B9, #403D39 */
}
