.mainHome,
.mainAbout,
.mainProjectPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-light-color);
  overflow: auto;
}

.mainAbout,
.mainProjectPage {
  color: var(--main-dark-color);
}

.intro {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#title,
#description {
  text-align: left;
  color: var(--main-dark-color);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#title {
  font-size: 70px;
}

#description {
  font-size: 30px;
}

#title a,
#description a {
  color: var(--main-accent-color);
}

#title a:hover,
#title a:focus,
#title a:active,
#description a:hover,
#description a:focus,
#description a:active {
  text-decoration: underline;
}

#bullets {
  font-size: 30px;
  text-align: left;
  color: var(--main-accent-color);
  margin-top: 0.5em;
}

#bullets a:hover,
#bullets a:focus,
#bullets a:active {
  text-decoration: underline;
}

.rect,
.wideRect {
  border: 2px solid var(--main-dark-color);
  box-shadow: 10px 10px var(--shadow-color);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: var(--main-dark-color);
}

.rect {
  width: 250px;
  text-align: center;
}

.wideRect {
  width: 400px;
  margin: 1em;
  height: 250px;
  text-align: left;
}

.wideRect #rectText {
  font-size: large;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.wideRect #rectTitle {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.wideRectSkills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  /* justify-content: center; */
  /* padding: 0.25em; */
}

.projectContainer > a:nth-child(even) > .rect {
  transform: rotate(-5deg)
}

.projectContainer > a:nth-child(odd) > .rect {
  transform: rotate(5deg)
}

.rect:hover,
.rect:focus,
.rect:active,
.wideRect:hover,
.wideRect:focus,
.wideRect:active {
  transition: 0.25s;
  box-shadow: 10px 10px var(--main-accent-color);
}

.rect:hover #rectTitle,
.rect:focus #rectTitle,
.rect:active #rectTitle,
.wideRect:hover #rectTitle,
.wideRect:focus #rectTitle,
.wideRect:active, #rectTitle {
  transition: 0.25s;
  color: var(--main-accent-color);
}

#rectTitle,
#rectText {
  color: var(--main-dark-color);
}

.aboutContainer {
  width: 60%;
  margin: auto;
  /* margin-top: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: x-large;
  padding-bottom: 2em;
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  min-width: 95vw;
  padding-top: 4em;
}

.introContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 3.5em;
}

.projPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.projPageContentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  #title, #description {
    line-height: 1;
  }
}

@media screen and (max-width: 1057px) {
  .mainHome {
    flex-direction: column-reverse;
  }

  .introContainer {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
  }

  .intro {
    width: 100%;
  }

  #bullets {
    margin-bottom: 0.5em;
  }

  .projectContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    padding-bottom: 3em;
  }

  .projectContainer > a:nth-child(even) > .rect {
    transform: rotate(0)
  }
  
  .projectContainer > a:nth-child(odd) > .rect {
    transform: rotate(0)
  }

  .rect {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 890px) {
  .aboutContainer {
    width: 80%;
  }

  .aboutBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .aboutBody iframe {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
